body {
    padding-top: 100px;
    background: rgb(0, 0, 0);
    color: rgb(193, 0, 242);
    font-family: Monospace , MATERIAL SYMBOLS ROUNDED ;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }